.catalog-slider {
  width: 100%;
  margin-bottom: 22rem;
  overflow: hidden;

  &__title-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    margin-bottom: 8rem;
  }

  &__title {
    font-weight: 600;
    font-size: 7rem;
    line-height: 7rem;
    text-transform: uppercase;
  }

  &__link {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.7rem;
    text-transform: uppercase;
    border-bottom: 4px solid #FF522A;

    &:hover {
      color: #FF522A;
    }
  }

  &__slider {
    padding: 0 17.9rem;
    margin: 0 -17.9rem;
  }

  &__item {
    position: relative;

    &:hover {
      .catalog-slider__img-box {
        > img {
          transform: scale(1.1);
        }
      }
    }
  }

  &__sale {
    position: absolute;
    left: 0;
    top: 5.6rem;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 9.8rem;
    height: 9.8rem;
    transform: translateX(-50%);
    border-radius: 100%;
    background: #232323;
    font-family: 'Gilroy';
    font-weight: 300;
    font-size: 3.2rem;
    color: white;

    > img {
      position: absolute;
      width: 9rem;
      height: 9rem;
      object-fit: contain;
    }
  }

  &__img-box {
    position: relative;
    width: 100%;
    height: 43.8rem;
    margin-bottom: 2rem;
    overflow: hidden;

    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform .7s ease;
    }
  }

  &__price {
    position: absolute;
    left: 0;
    bottom: 4.6rem;
    padding: 0.8rem 2rem;
    background: linear-gradient(89.33deg, #7CCA32 0.38%, #B8F45D 115.96%);
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.2rem;
    text-transform: uppercase;
    color: white;
  }

  &__item-title {
    margin-bottom: 2rem;
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 3.5rem;
    text-align: center;
  }

  &__item-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding-bottom: 1.8rem;
    border-bottom: 2px solid #232323;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.3rem;
  }
}

@media (max-width: 48em) {
  .catalog-slider {
    margin-bottom: 20rem;

    &__title-block {
      flex-direction: column;
      justify-content: normal;
      gap: 4rem;
      margin-bottom: 0;
      text-align: center;
    }

    &__title {
      font-size: 6.8rem;
      line-height: 6.8rem;
    }

    &__link {
      font-size: 3.2rem;
      line-height: 4.8rem;
    }

    &__slider {
      padding: 8rem 4rem 0 4rem;
      margin: 0 -4rem;
    }

    &__item {
    }

    &__sale {
      position: absolute;
      left: 2.2rem;
      top: 0;
      width: 11.2rem;
      height: 11.2rem;
      transform: translateY(-50%);
      font-size: 6.4rem;

      > img {
        display: none;
      }

      > span {
        transform: translateY(2px);
      }
    }

    &__img-box {
      height: 68.4rem;
      margin-bottom: 3rem;
    }

    &__price {
      bottom: 7.2rem;
      padding: 1.6rem 5rem;
      font-size: 3.2rem;
      line-height: 4.8rem;
    }

    &__item-title {
      margin-bottom: 2.8rem;
      font-size: 5rem;
      line-height: 5rem;
    }

    &__item-footer {
      gap: 2rem;
      font-size: 3rem;
      line-height: 4.2rem;
    }
  }
}